# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IntelliJ Idea file
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Environment files
*.env

# .DS_Store
.DS_Store